	<div class="sidebar-r flue">
    	<div class="side-inner">
        	<p class="tilte-sr"></p>
            <div class="si-rotete-out">
                <ul class="si-rotete">
                    <li><a href="#"><img src="/assets/images/img-recent.jpg" width="68" height="68" alt=""></a></li>
                    <li><a href="#"><img src="/assets/images/img-recent.jpg" width="68" height="68" alt=""></a></li>
                    <li><a href="#"><img src="/assets/images/img-recent.jpg" width="68" height="68" alt=""></a></li>
                    <li><a href="#"><img src="/assets/images/img-recent.jpg" width="68" height="68" alt=""></a></li>
                </ul>
            </div>
            <span class="prev left"></span>
            <span class="next right"></span>
            <div class="cart-side">
            	<p>购物车</p>
                <p class="cs-mount">({{ cart.totalItems}})</p>
				<form action="{{ path('sylius_cart_summary') }}">
                <input type="submit" class="bt-cart-side" value="去结算">
				</form>
            </div>
            <div class="service-side"><a href="#">售前服务</a></div>
            <div class="service-side"><a href="#">售后服务</a></div>
        </div>
        <div class="to-top">TOP</div>
    </div>