<div class="bottom-present clearfix">
	<div class="bt-wrap">
    	<div class="title-btpresent"></div>
					<ul class="list-index">
						{% from 'SyliusWebBundle:Frontend/Product:macros.jiwen.html.twig' import list_p %}
						{{ list_p(gifts, blank_form) }}
					</ul>
    </div>
</div>