{% extends 'SyliusWebBundle:Frontend/Account:layout.html.twig' %}

{% block content -%}
    <h1>Bookmark creation</h1>

    <form action="{{ path('bookmark_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button type="submit">Create</button>
        </p>
    </form>

{% endblock %}
