{% extends 'SyliusWebBundle:Frontend/Account:layout.html.twig' %}

{% block content -%}
    <h1>Comment creation</h1>

    <form action="{{ path('account_comment_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button type="submit">Create</button>
        </p>
    </form>

        <ul class="record_actions">
    <li>
        <a href="{{ path('account_comment') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
