{% from 'SyliusWebBundle:Frontend/Product:macros.jiwen.html.twig' import grid %}
    <div class="sec-space clearfix">
    	<div class="hs-title tab-switcher">
        	<ul>
        		<li><a href="#" title="" class="tabactive">今日推荐</a></li>
                <li><a href="#" title="">人气热卖</a></li>
                <li><a href="#" title="">猜你喜欢</a></li>
            </ul>    
        </div>
        <div class="tab_content">
            <div class="clear">
                <ul class="list-index">
					{% from 'SyliusWebBundle:Frontend/Product:macros.jiwen.html.twig' import list %}
					{{ list(todayRecommend) }}
                </ul>
            </div>
            <div class="hide clear">
                <ul class="list-index">
                    <li>
                        <div class="inner">
                            <p class="list-img"><a href="#"><img src="/assets/images/img-index.jpg" width="125" height="125" alt=""></a><span class="icon-sale"></span></p>
                            <p class="name"><a href="#">华硕R400(新i5 高速硬盘 2G独显)粉好看</a></p>
                            <p><span class="price">￥111</span><span>售量: 2541</span></p>
                            <div class="inlist-view clearfix">
                                <div class="star"><span class="level star5"></span><a href="#">12587人评价</a></div>
                                <div class="clear">
                                <input type="button" class="cart-index">
                                <input type="button" class="like-index">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="inner">
                            <p class="list-img"><a href="#"><img src="/assets/images/img-index2.jpg" width="125" height="125" alt=""></a></p>
                            <p class="name"><a href="#">华硕R400(新i5 高速硬盘 2G独显)粉好看</a></p>
                            <p><span class="price">￥111</span><span>售量: 2541</span></p>
                            <div class="inlist-view clearfix">
                                <div class="star"><span class="level star5"></span><a href="#">12587人评价</a></div>
                                <div class="clear">
                                <input type="button" class="cart-index">
                                <input type="button" class="like-index">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="inner">
                            <p class="list-img"><a href="#"><img src="/assets/images/img-index2.jpg" width="125" height="125" alt=""></a></p>
                            <p class="name"><a href="#">华硕R400(新i5 高速硬盘 2G独显)粉好看</a></p>
                            <p><span class="price">￥111</span><span>售量: 2541</span></p>
                            <div class="inlist-view clearfix">
                                <div class="star"><span class="level star1"></span><a href="#">12587人评价</a></div>
                                <div class="clear">
                                <input type="button" class="cart-index">
                                <input type="button" class="like-index">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="inner">
                            <p class="list-img"><a href="#"><img src="/assets/images/img-index2.jpg" width="125" height="125" alt=""></a></p>
                            <p class="name"><a href="#">华硕R400(新i5 高速硬盘 2G独显)粉好看</a></p>
                            <p><span class="price">￥111</span><span>售量: 2541</span></p>
                            <div class="inlist-view clearfix">
                                <div class="star"><span class="level star2"></span><a href="#">12587人评价</a></div>
                                <div class="clear">
                                <input type="button" class="cart-index">
                                <input type="button" class="like-index">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="inner">
                            <p class="list-img"><a href="#"><img src="/assets/images/img-index.jpg" width="125" height="125" alt=""></a></p>
                            <p class="name"><a href="#">华硕R400(新i5 高速硬盘 2G独显)粉好看</a></p>
                            <p><span class="price">￥111</span><span>售量: 2541</span></p>
                            <div class="inlist-view clearfix">
                                <div class="star"><span class="level star3"></span><a href="#">12587人评价</a></div>
                                <div class="clear">
                                <input type="button" class="cart-index">
                                <input type="button" class="like-index">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="inner last-nob">
                            <p class="list-img"><a href="#"><img src="/assets/images/img-index2.jpg" width="125" height="125" alt=""></a></p>
                            <p class="name"><a href="#">华硕R400(新i5 高速硬盘 2G独显)粉好看</a></p>
                            <p><span class="price">￥111</span><span>售量: 2541</span></p>
                            <div class="inlist-view clearfix">
                                <div class="star"><span class="level star4"></span><a href="#">12587人评价</a></div>
                                <div class="clear">
                                <input type="button" class="cart-index">
                                <input type="button" class="like-index">
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="hide clear">
                <ul class="list-index">
                    <li>
                        <div class="inner">
                            <p class="list-img"><a href="#"><img src="/assets/images/img-index.jpg" width="125" height="125" alt=""></a><span class="icon-sale"></span></p>
                            <p class="name"><a href="#">华硕R400(新i5 高速硬盘 2G独显)粉好看</a></p>
                            <p><span class="price">￥111</span><span>售量: 2541</span></p>
                            <div class="inlist-view clearfix">
                                <div class="star"><span class="level star5"></span><a href="#">12587人评价</a></div>
                                <div class="clear">
                                <input type="button" class="cart-index">
                                <input type="button" class="like-index">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="inner">
                            <p class="list-img"><a href="#"><img src="/assets/images/img-index2.jpg" width="125" height="125" alt=""></a></p>
                            <p class="name"><a href="#">华硕R400(新i5 高速硬盘 2G独显)粉好看</a></p>
                            <p><span class="price">￥111</span><span>售量: 2541</span></p>
                            <div class="inlist-view clearfix">
                                <div class="star"><span class="level star5"></span><a href="#">12587人评价</a></div>
                                <div class="clear">
                                <input type="button" class="cart-index">
                                <input type="button" class="like-index">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="inner">
                            <p class="list-img"><a href="#"><img src="/assets/images/img-index2.jpg" width="125" height="125" alt=""></a></p>
                            <p class="name"><a href="#">华硕R400(新i5 高速硬盘 2G独显)粉好看</a></p>
                            <p><span class="price">￥111</span><span>售量: 2541</span></p>
                            <div class="inlist-view clearfix">
                                <div class="star"><span class="level star1"></span><a href="#">12587人评价</a></div>
                                <div class="clear">
                                <input type="button" class="cart-index">
                                <input type="button" class="like-index">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="inner">
                            <p class="list-img"><a href="#"><img src="/assets/images/img-index2.jpg" width="125" height="125" alt=""></a></p>
                            <p class="name"><a href="#">华硕R400(新i5 高速硬盘 2G独显)粉好看</a></p>
                            <p><span class="price">￥111</span><span>售量: 2541</span></p>
                            <div class="inlist-view clearfix">
                                <div class="star"><span class="level star2"></span><a href="#">12587人评价</a></div>
                                <div class="clear">
                                <input type="button" class="cart-index">
                                <input type="button" class="like-index">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="inner">
                            <p class="list-img"><a href="#"><img src="/assets/images/img-index2.jpg" width="125" height="125" alt=""></a></p>
                            <p class="name"><a href="#">华硕R400(新i5 高速硬盘 2G独显)粉好看</a></p>
                            <p><span class="price">￥111</span><span>售量: 2541</span></p>
                            <div class="inlist-view clearfix">
                                <div class="star"><span class="level star3"></span><a href="#">12587人评价</a></div>
                                <div class="clear">
                                <input type="button" class="cart-index">
                                <input type="button" class="like-index">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="inner last-nob">
                            <p class="list-img"><a href="#"><img src="/assets/images/img-index3.jpg" width="125" height="125" alt=""></a></p>
                            <p class="name"><a href="#">华硕R400(新i5 高速硬盘 2G独显)粉好看</a></p>
                            <p><span class="price">￥111</span><span>售量: 2541</span></p>
                            <div class="inlist-view clearfix">
                                <div class="star"><span class="level star4"></span><a href="#">12587人评价</a></div>
                                <div class="clear">
                                <input type="button" class="cart-index">
                                <input type="button" class="like-index">
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>