{% from 'SyliusWebBundle:Frontend/Product:macros.jiwen.html.twig' import grid %}
    <div class="sec-space clearfix">
    	<div class="hs-title tab-switcher">
        	<ul>
        		<li><a href="#" title="" class="tabactive">今日推荐</a></li>
                <li><a href="#" title="">人气热卖</a></li>
            </ul>    
        </div>
        <div class="tab_content">
            <div class="clear">
                <ul class="list-index">
					{% from 'SyliusWebBundle:Frontend/Product:macros.jiwen.html.twig' import list, list_p %}
					{{ list(todayRecommend, blank_form) }}
                </ul>
            </div>
            <div class="hide clear">
                <ul class="list-index">
					{{ list_p(hotSale, blank_form) }}
                </ul>
            </div>
        </div>
    </div>