{% extends 'SyliusWebBundle:Frontend:Product/layout.indexSection.html.twig' %}
			{% block navigation %}
				<ul>
				{% for row in category %}
					<li><a href="{{ path('sylius_product_index_by_taxon', {permalink: row.permalink}) }}">{{ row.name }}</a></li>
				{% endfor %}
				</ul>
			{% endblock %}

		{% block section_banner %}
        <section id="feature_list" class="left">
		{{ render(controller('JiwenBannerBundle:Banner:renderBanner', {'category':banner.category.sections, 'limit': 5, 'template' : 'nav.html', 'taxon': taxon.id })) }}
        </section>
		{% endblock %}