<form id='alipaysubmit' name='alipaysubmit' target="_blank" action='https://mapi.alipay.com/gateway.do?utf-8' method='post'>
	<input type='hidden' name='".$key."' value='".$val."'/>

	<input type='submit' value='支付'></form>
