{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% block content -%}
    <h1>Banner creation</h1>

    <form action="{{ path('banner_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button type="submit">Create</button>
        </p>
    </form>

        <ul class="record_actions">
    <li>
        <a href="{{ path('banner') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
